        body {
  top: 50%;
  font-family: Poppins;
  color: #4c4c4c;
  background-image: url("/bgDark.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: 0.5s;
  scroll-behavior: smooth;
        }

        h1 {
            margin: 0;
            padding-top: 20px;
        }
#particles-js {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index: -1;
}
        #search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        #uv-form {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-bar-home {
            padding: 10px;
            margin-right: 10px;
        }

        #search-button {
            padding: 10px 15px;
            cursor: pointer;
        }

        .desc {
            margin-top: 10px;
            text-align: center;
        }

        #dynamicParagraph {
            text-align: center;
            font-size: 1.5em;
            margin: 20px 0;
        }
